header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: white;
}
p {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    float: right;
    position: relative;
    margin: -20px 30px 20px 10px;
    line-height: 30px;
    overflow: visible;
}
.p2 {
    padding-top: 20px;
    position: relative;
    float: left;
}
body {
    display: block;
    margin: 0px;
}
.main_pic {
    margin-top: 30px;
    padding: 10px;
    height: 0px;
    position: relative;
}


.column {
    flex: 50%;
  }

.head_main{
    display: flex;
    position: relative;
}

.head_name {
    background-color: #4aaaa5;
    color: #ffffff;
    width: 6em;
    height: 2em;
    padding: .7em .2em 0em .7em;
    margin-top: 0em;
    margin-left: 40%;
    margin-bottom: 0px;
    position: relative;
    
}
.head_list {
    color: #cccccc;
    margin-left: 5em;
    margin-top: 2.5em;
    position: fixed;
    word-spacing: 7px;
    font-size: 19px;
    
}
.main_container {
    background-color: #dddddd;
    position: relative;
    height: 100vh;
}
.main_body {
    background-color: #ffffff;
    width: 960px;
    height: 400px;
    padding-top: 25px;
    margin-left: 20%;
    margin-right: 20%;
    padding-left: 40px;
    padding-right: 40px;
    position: relative;
    border: 1px solid teal;
}
footer {
    background: #4aaaa5;
    padding-top: 50px;
    width: 100%;
    position: relative;
    border-bottom: #4aaaa5;
}